@page
@model Parking.App.Frontend.EliminarGerenteModel
@{
}
<h1>Eliminar Auxiliar @Model.gerente.Nombre</h1>
<form method="post" class="mt-3">
    <input hidden asp-for="gerente.Identificacion">
    <input hidden asp-for="gerente.IdGerente">
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./ListarGerente" class="btn btn-primary">Cancelar</a>
    </div>
</form>