@page
@model Parking.App.Frontend.EliminarVehiculoModel
@{
}
<h1>Eliminar Vehiculo @Model.vehiculo.Placa</h1>
<form method="post" class="mt-3">
    <input hidden asp-for="vehiculo.Placa">
    <input hidden asp-for="vehiculo.Id">
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a asp-page="./ListarVehiculo" class="btn btn-primary">Cancelar</a>
    </div>
</form>
