@page
@model Parking.App.Frontend.Pages.DetalleReservaClienteModel
@{
}
<h1>Descripción de la reserva @Model.reserva.Id</h1>
<ul>
       
        <li>@Model.reserva.Hora_Inicio</li>
        <li>@Model.reserva.Hora_Final</li>
        <li>@Model.reserva.Estado_Reserva</li>
       
    
</ul>