@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="center">
    <h3 class="display-4">Bienvenido a ParkingApp</h3>
    <h4>Para nosotros es un factor primordial la gestión de los procesos de nuestros parqueaderos de vehículos 
        y motocicletas garantizando su experiencia con nosotros.</h4>
</div>

  