@page
@model Parking.App.Frontend.CrearAdministradorModel
@using Parking.App.Dominio
@{
}
<div class = "center">
<h3>Crear administrador</h3>
<form method="post" >
    <div class="form-row">
	<div class="form-group col-md-6">
        <label asp-for="administrador.Nombre" class="col-sm-2">Nombre</label>
        <input asp-for="administrador.Nombre" class="form-control" placeholder="Nombre Usuario" value="" required >        
	</div>
	<div class="form-group col-md-6">
        <label asp-for="administrador.Identificacion" class="col-sm-2">Identificacion</label>
        <input asp-for="administrador.Identificacion" class="form-control" placeholder="Identificacion Usuario" value="" required>        
    </div>	   
    

	<div class="form-group col-md-6">  
        <label asp-for="administrador.Telefono" class="col-sm-2">Telefono</label>
        <input asp-for="administrador.Telefono" class="form-control" placeholder="Telefono Usuario" value="" required> 
	</div>

	<div class="form-group col-md-6">
        <label asp-for="administrador.Direccion" class="col-sm-2">Direccion</label>
        <input asp-for="administrador.Direccion" class="form-control" placeholder="Direccion Usuario" value="">        
    </div> 

    <div class="form-group col-md-6">
        <label asp-for="administrador.Email" class="col-sm-2">Email</label>
        <input asp-for="administrador.Email" class="form-control" placeholder="Email" value="" required>        
	</div>

	<div class="form-group col-md-6">
        <label asp-for="administrador.Contrasena" class="col-sm-2">Contraseña</label>
        <input asp-for="administrador.Contrasena" class="form-control" placeholder="**" value="" required>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="administrador.Fecha_nacimiento" class="col-sm-2">Fecha.Nacimiento</label>
        <input asp-for="administrador.Fecha_nacimiento" class="form-control" placeholder="Date" value="" required>        
	</div>
	</div>

    <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./Listaradministrador" class="btn btn-primary">Cancelar</a>
    </div>
</form>
</div>