@page
@model Parking.App.Frontend.EditarAdministradorModel
@using Parking.App.Dominio
@{
}
<div class = "center">
<h3>Editar Administrador</h3>
<form method="post" class="mt-3">
    
    <div class="form-group row">       
        <input asp-for="administrador.Id" class="form-control"  type="hidden" required >        
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="administrador.Nombre" class="col-sm-2">Nombre</label>
        <input asp-for="administrador.Nombre" class="form-control"  required >        
    </div>

    <div class="form-group col-md-6">
        <label asp-for="administrador.Identificacion" class="col-sm-2">Identificacion</label>
        <input asp-for="administrador.Identificacion" class="form-control"  required>        
    </div>   
    
        
    <div class="form-group col-md-6">  
        <label asp-for="administrador.Telefono" class="col-sm-2">Telefono</label>
        <input asp-for="administrador.Telefono" class="form-control"  required>           
    </div>

    <div class="form-group col-md-6">
        <label asp-for="administrador.Direccion" class="col-sm-2">Direccion</label>
        <input asp-for="administrador.Direccion" class="form-control" required>        
    </div> 

    <div class="form-group col-md-6">
        <label asp-for="administrador.Email" class="col-sm-2">Email</label>
        <input asp-for="administrador.Email" class="form-control"  required>        
    </div> 

    <div class="form-group col-md-6">
        <label asp-for="administrador.Contrasena" class="col-sm-2">Contraseña</label>
        <input asp-for="administrador.Contrasena" class="form-control"  required>
    </div>

    
    <div class="form-group col-md-6">
        <label asp-for="administrador.Fecha_nacimiento" class="col-sm-2">Fecha.Nacimiento</label>
        <input asp-for="administrador.Fecha_nacimiento" class="form-control"  required>        
    </div>

    <div class="form-group col-md-6">        
        <input asp-for="administrador.Fecha_nacimiento" class="form-control" type="hidden" required>        
    </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./ListarAdministrador" class="btn btn-primary">Cancelar</a>
    </div>
</form>
</div>